.navbar {
    background-color: #1C1C1C;
}

body {
    background: #2E2E2E;
    color:#228B22;
    font-family: "Courier New", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-nav>li>a:hover{
    background: #2E2E2E;
    color:#00FF00;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
    background: #2E2E2E;
    color:#428bca;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background: #2E2E2E;
    color:#428bca;
    text-decoration:underline;
}

.dropdown-menu{
    background: #2E2E2E;
}

.dropdown-menu>li>a{
    background: #2E2E2E;
    color:#428bca;
}

.dropdown-menu .divider{
    background: #1C1C1C;
}

.nav>li>a:hover, .nav>li>a:focus{
    background: #2E2E2E;
    color:#428bca;
    text-decoration:underline;
}

.nav>li>a.active {
    color:#fff;
}

.nav-pills>li>a:hover, .nav-pills>li>a:focus, .nav-pills>li>a{
    border-radius: 0;
    background: #1C1C1C;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color:#424242;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    border-top:1px solid #1C1C1C;
}

.table>thead>tr>th{
    border-bottom:1px solid #1C1C1C;
}

h1, h2, h3, h4{
    margin-top:0;
}